<div class="login-container">
    <div class="login-box p-shadow-3">
        <h2>Sign Up</h2>
        <form #signeupForm="ngForm" (ngSubmit)="signup(signeupForm)">
            <div class="p-field">
                <label for="username">Username</label>
                <input type="text" id="username" pInputText placeholder="Enter your username" [(ngModel)]="userLogin.username" name="username" [required]="true">
            </div>
            <div class="p-field">
                <label for="password">Password</label>
                <p-password id="password" [toggleMask]="true" placeholder="Enter your password" [(ngModel)]="userLogin.password" name="password" [required]="true"/>
            </div>
            <button type="submit" pButton label="Sign Up" class="p-button-primary login-button" [disabled]="signeupForm.invalid"></button>
        </form>
        <p>Already have an account? <a routerLink="/login">Login</a></p>
    </div>
</div>
